.cart-sumar{
    margin-top: 1rem;
    background-color: $grey;
    padding: 1rem 2.2rem;
    text-align: center;
    p{
        padding: 0.3rem;
        font-size: 1.2rem;
        color: black;

        span{
            font-weight: bold;
        }
    }
    p:last-of-type{
        font-size: 1.5rem;
        font-weight: bold;
    }

    a{
        font-size: 1.5rem;
        display: inline-block;
        margin-top: 0.5rem;
        text-decoration: none;
        padding: 0.5rem 1rem;
        background-color: $violet;
        border-radius: 5px;
        color: white;
        transition: 0.3s all;
        i{
            margin-left: 0.3rem;
            font-size: 1.4rem;
        }
    }
    a:hover{
        background-color: $orange;
    }
}