.favorite-container{
    display: grid;
    grid-template-columns:  1fr;
    padding: 1rem 0.5rem 0 0.5rem;
    max-width: 300px;
    margin: 0 auto;
    justify-items: center;


    .favorite-gol-img{
        width: 150px;
        display: none;
    }

    .favorite-gol-text{
        display: none;
        font-size: 1.3rem;
    }
    @include mq('sm'){
        max-width: 500px;
        grid-template-columns: 1fr 1fr;
    }

    @include mq('md'){
        max-width: 700px;
        grid-template-columns: 1fr 1fr 1fr;
    }
    @include mq('lg'){
        max-width: 1100px;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
}