.first-header-left{
    display: flex;
    align-items: center;
    .toggle-btn{
        transition: .3s all;
        font-size: 1.4rem;
        color: $violet;
    }
    .toggle-btn:hover{
        color: $orange;
    }

    .brand{
        margin-left: 0.8rem;
        text-decoration: none;
        color: $violet;
        font-size: 1.7rem;
    }
    .brand:hover{
        color: $orange;
    }
}