.first-header-right{
    display: flex;
    align-items: center;
    a{
        transition: .3s all;
        font-size: 1.3rem;
        padding-right: 0.5rem;
        color: $violet;
    }
    a:hover{
        color:$orange;
    }
    a:last-of-type{
        padding-right: 0;
    }
    .notificare{

    }
}