.last-header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 0.5rem;
    input{
        width: 8rem;
        border: 1px solid $violet;
        border-radius: 4px;
    }
    input:focus{
        outline: none;
        border: 2px solid $violet;
    }
    a{
        transition: .3s all;
        margin-left: 0.5rem;
    }
    a:hover{
        color: $violet;
    }
}